In [17]:
import pandas as pd

In [18]:
df=pd.read_csv('cbs.csv')

In [19]:
df.shape

(500000, 12)

In [20]:
df.head()

,A,DATE,AMOUNT,B,C,D,E,F,G,RRN,H,TXNID
0,S75960940,03-04-2024,845.95,03-04-2024,NaN,2001,2650,20012207843065,27111001182650,617245275107,03-04-2024 01:38:36,f1ed5d01f92119e5fbc24bf8
1,S75960940,03-04-2024,9.26,03-04-2024,NaN,2001,2650,20012207843065,27111001182650,902965003636,03-04-2024 01:38:36,dd9fbec8caafe84238f5f7c1
2,S75960940,03-04-2024,982.55,03-04-2024,NaN,2001,2650,20012207843065,27111001182650,550987050735,03-04-2024 01:38:36,9b72faab5fe4ff0ff1fff288
3,S75960940,03-04-2024,584.97,03-04-2024,NaN,2001,2650,20012207843065,27111001182650,746297905706,03-04-2024 01:38:36,18eeecdffde49d846e820a4c
4,S75960940,03-04-2024,453.01,03-04-2024,NaN,2001,2650,20012207843065,27111001182650,101141409563,03-04-2024 01:38:36,be3574f209a893e0fabeffd8