In [49]:
import pandas as pd

In [50]:
df=pd.read_csv('switch.csv')

In [51]:
df.shape

(500000, 12)

In [52]:
df.head()

,DATE,AMOUNT,A,NPCI_CODE,RRN,B,PAYEE_VPA,C,PAYER_VPA,D,TXNID,MCC
0,02-04-2024 00:00,954.79,U09,FAILURE,225353709978,1,Leopoldo.Denesik31@gmail,1,Herbert_Paucek81@gmail,0,d4618364-c93d-48b7-819f-da8846a6c59f,cfcb12cae6a4bfafedd171be
1,02-04-2024 00:00,296.17,U09,FAILURE,435121560629,1,Santino_Greenholt@yahoo,1,Jacey_Turcotte9@yahoo,0,e08c59b2-2c65-47a0-83f1-173d3a44b925,a3b9f7bc7da57bddd23acefb
2,02-04-2024 00:00,654.06,U09,FAILURE,228868418505,1,Mona55@yahoo,1,Piper90@hotmail,0,d10f195e-6b28-4cc8-a99c-3286d8c6d1da,d5ff24627f7e8db6bf0c07a3
3,02-04-2024 00:00,398.77,U09,SUCCESS,546150913527,1,Dulce38@gmail,1,Hosea5@gmail,0,adaf76fc-7477-4e60-9536-8ecffe0500d3,5dc2bf2ea1eccd09454fd547
4,02-04-2024 00:00,822.43,U09,SUCCESS,233324361005,1,Randy80@gmail,1,Hayden12@yahoo,0,f1758556-b0e0-4e8f-90e0-e8709ffb14b5,26a084fb4b489c3a65be0fa9